.App {
  text-align: center;
}



.App-header {
  padding:2rem;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.table {
  margin: 3rem 0;
  width:100%;
}

form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.input {
  background-color: white;
  color:black
}